name: newsapp
description: A new Flutter project.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.1.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.6
  http: ^1.1.0
  carousel_slider: ^4.2.1
  webview_flutter: ^4.5.0

  shimmer: ^3.0.0
  flutter_bloc: ^8.1.3        # MANDATORY state management
  cached_network_image: ^3.3.1 # Better than Image.network for news
  equatable: ^2.0.5            # Helps BLoC compare states

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
  assets:
    - lib/Assets/ # Ensure your image.jpeg is actually in this folder